<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeahliving.goalhome.ims.dao.HouseLandlordMapper">

    <insert id="add" parameterType="com.yeahliving.goalhome.ims.bean.GoHoHouseLandlord" keyProperty="id" useGeneratedKeys="true"
            flushCache="true">
        INSERT INTO house_landlord_relation (landlord_id, house_id)
        VALUES (#{landlord_id}, #{house_id})
    </insert>

</mapper>